:root{
    font-size: 20px;

    --primaryColor: #a080e6;
    --secondaryColor: #dcd4ea;
}

body{
    background: linear-gradient(var(--primaryColor), var(--secondaryColor));
    height: 100dvh;
}
#navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:#9291b3;
    text-align:center;
    position: fixed;
    width:100%;
    height:130px;
    top:0px;
    left:0px;
    text-shadow: 2px 2px rgba(255,255,255,0.5);
    border-bottom: 5px solid #b4b2d6;
}

main{
    margin-top: 160px;
}

h1{
    text-align: center;
    color: #e8dfff;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    font-size: clamp(1.5rem, 5vw, 4rem);
}