:root{
    font-size: 20px;

    --primaryColor: #a080e6;
    --secondaryColor: #dcd4ea;
    --darkPurple: #7a58c4;
    --darkerPurple: #5a2ebb;

    --lightTextShadow: 1.5px 1.5px rgba(255,255,255,0.5);
    --darkTextShadow: 1.5px 1.5px rgba(0,0,0,0.5);
}

body{
    background: linear-gradient(var(--primaryColor), var(--secondaryColor));
    height: 100%;
    min-height: 100dvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 0;
    pointer-events: none;
    transition: background 0.3s ease-in-out;
}

#navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background: var(--darkPurple);
    text-align:center;
    position: fixed;
    width:100%;
    height:130px;
    top:0px;
    left:0px;
    border-bottom: 3.5px solid var(--secondaryColor);
    z-index: 1;
    box-shadow: 4px 5px 15px rgba(255,255,255,0.35);
}

#navbar h1{
    color: var(--secondaryColor);
    text-shadow: var(--darkTextShadow);
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-weight: bold;
    font-family: Calibri, 'Trebuchet MS';
}

main{
    margin-top: 160px;
}

main h1{
    color: var(--darkerPurple);
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.5rem, 5vw, 4rem);
    text-shadow: var(--lightTextShadow);
    font-family: Calibri, 'Trebuchet MS';
}

a{
    text-decoration: none;
}

a h1{
    transition: all 0.3s ease-in-out;
}

#navbar a{
    /* Ensures theres no unnecessary extra space */
    display: contents;
}

#navbar a:hover h1{
    color: #b59fe6;
    transform: scale(1.1);
}

#navbar a:active h1{
    text-shadow: 2px 2px rgba(255,255,255,0.6);
    transform: scale(1.2);
}

body:has(#navbar a:hover)::after{
    background: rgba(0,0,0,0.25);
}