:root{
    font-size: 20px;

    --primaryColor: #a080e6;
    --secondaryColor: #dcd4ea;
    --darkPurple: #7a58c4;
    --darkerPurple: #6c3cd4;

    --lightTextShadow: 1.5px 1.5px rgba(255,255,255,0.5);
    --darkTextShadow: 1.5px 1.5px rgba(0,0,0,0.5);
}

body{
    background: linear-gradient(var(--primaryColor), var(--secondaryColor));
    height: 100dvh;
}
#navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background: var(--darkPurple);
    text-align:center;
    position: fixed;
    width:100%;
    height:130px;
    top:0px;
    left:0px;
    border-bottom: 3.5px solid var(--secondaryColor);
}

#navbar h1{
    color: var(--secondaryColor);
    text-shadow: var(--darkTextShadow);
}

main{
    margin-top: 160px;
}

h1{
    color: var(--darkerPurple);
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.5rem, 5vw, 4rem);
    text-shadow: var(--lightTextShadow);
}

a{
    text-decoration: none;
}