:root{
    font-size: 20px;

    --primaryColor: #a080e6;
    --secondaryColor: #dcd4ea;
    --darkPurple: #7a58c4;
    --darkerPurple: #6c3cd4;

    --lightTextShadow: 1.5px 1.5px rgba(255,255,255,0.5);
    --darkTextShadow: 1.5px 1.5px rgba(0,0,0,0.5);
}

body{
    background: linear-gradient(var(--primaryColor), var(--secondaryColor));
    height: 100dvh;
}

body::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 0;
    pointer-events: none;
    transition: background 0.3s ease-in-out;
}

#navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background: var(--darkPurple);
    text-align:center;
    position: fixed;
    width:100%;
    height:130px;
    top:0px;
    left:0px;
    border-bottom: 3.5px solid var(--secondaryColor);
    z-index: 1;
}

#navbar h1{
    color: var(--secondaryColor);
    text-shadow: var(--darkTextShadow);
}

main{
    margin-top: 160px;
}

h1{
    color: var(--darkerPurple);
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.5rem, 5vw, 4rem);
    text-shadow: var(--lightTextShadow);
}

a{
    text-decoration: none;
    z-index: 2929
}

a h1{
    transition: color 0.3s ease;
}

#navbar a{
    /* Ensures theres no unnecessary extra space */
    display: contents;
}

#navbar a:hover h1{
    color: #b59fe6;
}

body:has(#navbar a:hover)::after{
    background: rgba(0,0,0,0.25);
}