body{
    background: linear-gradient(#a080e6, #dcd4ea);
    height:300vh;
    padding-top:120px;
}
#navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#9291b3;
    text-align:center;
    position: fixed;
    width:100%;
    height:130px;
    top:0px;
    left:0px;
    text-shadow: 2px 2px rgba(255,255,255,0.5);
    border-bottom: 5px solid #b4b2d6;
}

